@import url("https://fonts.googleapis.com/css2?family=Flamenco&family=Montserrat&display=swap");

:root {
  --black: #15202b;
  --white: white;
  --text: white;
  --flamenco: "Flamenco", cursive;
  --monst: "Montserrat", sans-serif;
  --trend: rgb(25, 39, 52);
  --light-gray: lightgray;
  --border: rgb(62, 64, 82);
  --info: lightgray;
  --red: #e0245e;
  --text-color: var(--text);
  --background: var(--black);
}
.lightmode {
  --white: white;
  --text: black;
  --trend: #f5f8fa;
  --border: lightgray;
  --info: gray;
  --text-color: var(--text);
  --background: var(--white);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1600px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  color: var(--text-color);
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  background-color: var(--background);
  color: var(--text-color);
  font-size: 1rem;
  font-family: var(--monst);
  overflow-x: hidden;

}
#nav::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#nav::-webkit-scrollbar-track {
  background: var(--border);
}

/* Handle */
#nav::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
}

/* Handle on hover */
#nav::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mains {
  display: flex;
}
.heart-parent {
  position: relative;
  transform: scale(0.76);
  margin-top: -6.2%;
  margin-bottom: -35px;
}
.count {
  position: absolute;
  top: 35px;
  right: 5px;
}
.setPublic {
  color: var(--red);
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  /* border-bottom: 1px solid rgb(50, 114, 138); */
}

.setPublic:hover {
  cursor: pointer;
}
.dropdownIcon {
  position: absolute;
  right: 10px;
  color: gray;
  font-size: 23px;
  cursor: pointer;
}
.nav {
  margin: 0;
  padding: 1rem;
  width: 300px;
  background-color: var(--background);
  float: left;
  height: 100vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  border-right: 1px solid var(--border);
}
.navbar-nav {
  padding: 0;
  margin: 0;
  display: flex;
}
.navbar-nav li {
  font-weight: bolder;
  margin-top: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navbar-nav li:last-child {
  margin-top: 20px;
  background-color: var(--red);
  border-radius: 30px;

}
.navbar-nav li:last-child:hover{
  background-color: var(--red);
  filter: brightness(1.3);
}
.navbar-nav li:first-child:hover {
  background-color: transparent;
  color: var(--red) !important;
  border-radius: 30px;
}
.navbar-nav li:hover {
  /* background-color: var(--red); */
  background-color: #223345;
  color: var(--red) !important;
  border-radius: 30px;
}

.navbar-nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  transition: 400ms ease-in-out;
  padding: 10px;
  height: 3rem;
}
/* .navbar-nav a:hover{
  
} */
.nav i {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  margin: 0 1.5rem;
}
.bottom-menu {
  display: none;
}
.notify-div {
  position: relative;
}
.notify-count {
  position: absolute;
  height: 20px;
  width: 20px;
  padding: 12px;
  font-size: medium;
  border-radius: 50%;
  left: 25px;
  top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0245e;
}
.notify-count.sm{

  height: 6px;
  width: 6px;
  padding:7px;
  left: 29px;
  top: 7px;
  background-color: #e0245e;
}
.is-online{
  height: 10px;
  width: 10px;
  padding: 7px;
  background-color: #24e092;
  border-radius: 50%;
}
.not-online{
  height: 10px;
  width: 10px;
  padding: 7px;
  background-color: #4d4957;
  border-radius: 50%;
}
.second {
  /* margin-left: 290px; */
  padding: 0;
  display: flex;
}
.tweet-bottom-active {
  display: flex;
  justify-content: space-around;
  z-index: 80005555;
}

.tweetIcons {
  cursor: pointer;
  font-size: 22px;
  color: rgb(168, 157, 157);
  font-family: Arial, Helvetica, sans-serif;
}
.tweetIcons:hover {
  color: var(--red);
}
.editArea {
  background: #131d27;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.second-tweet {
  width: 60%;
  border-right: 1px solid var(--border);
}
.tweet-header {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: space-between;
  background-color: var(--background);
  padding: 5px;
  font-weight: 2800;
  z-index: 10;
  border-bottom: 1px solid var(--border);
  width: 100%;

}
.tweet-header button {
  display: none;
}
.btns {
  background-color: transparent;
  padding: 5px 10px;
  font-size: 22px;
  color: white;
  border: none;
  outline: 0 !important;
  cursor: pointer;
}
.add-tweet {
  position: relative;
  display: flex;
  width: 100%;
  margin: auto;
  padding:5px 1rem;
  border-bottom: 9px solid #50626e;
}
.add-tweet-input {
  position: relative;
  width: 100%;
  margin-left: 20px;
}

.add-icon {
  display: flex;
  cursor: pointer;
}

.add-tweet-icon {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.side-icon {
  margin-left: 20px;
  color: var(--red);
  cursor: pointer;
  font-size: 20px;
  transition: 300ms ease-in-out;
}
.side-icon:hover {
  font-size: 21px;
  color: #bb748a;
}
.disabled {
  color: rgb(131, 50, 74);
  cursor: not-allowed;
}
.active-link {
  color: #f44;
}
.add-tweet-input textarea {
  padding: 7px;
  border: none;
  outline: 0;
  background-color: transparent;
  color: rgb(177, 196, 235);
  width: 100%;

}
.add-tweet-input textarea::placeholder {
  color: rgb(177, 196, 235);
}
.link-tweet {
  background-color: var(--red);
  border-radius: 34px;
  min-width: 70px;
  padding: 8px 16px;
  border: none;
  color: #fff;
  outline: 0 !important;
  cursor: pointer;
}
.border-only-btn {
  border-radius: 34px;
  min-width: 70px;
  padding: 8px 16px;
  color: #fff;
  outline: 0 !important;
  cursor: pointer;
  background-color: transparent;
  border: 1.3px solid var(--red);
  transition: 300ms ease-in-out;
}
.border-only-btn:hover{
  background-color: var(--red);
}
.link-tweet.outline {
  background-color: rgb(79, 115, 186);
}
.link-tweet.outline:hover {
  background-color: rgb(47, 77, 138);
}
.btn-outline {
  background-color: var(--background);
  border: 1px solid var(--red);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  outline: 0 !important;
}
.link-tweet:hover {
  background-color: #b61146;
}
.link-tweet:disabled {
  background-color: #c2184e;
  cursor: not-allowed;
  opacity: 0.6;
}
.messageAlert {
  position: fixed;
  top: 80px;
  left: 5%;
  max-width: 510px;
  background-color: rgb(15, 5, 34);
  padding: 10px;
  border-radius: 4px;
  border-left: 6px solid #e0245e;
  display: flex;
  align-items: center;
  transition: 1000ms ease-in-out;
  justify-content: space-between;
  z-index: 10;
}
.actual-tweet {
  display: flex;
  position: relative;
  border-top: 1px solid var(--border);
  padding: 5px 10px;
}

.tweetCard:hover {
  background-color: #1a2530;
}
.tweet-content {
  margin-left: 5%;
  width: 100%;
}
.image {
  border-radius: 20px;
  max-height: 300px;
  object-fit: cover;
  width: 480px;
}
.side-name {
  color: rgb(157, 172, 192);
  display: flex;
  font-size: 14px;
  align-items: center;
}
.second-trend {
  padding-top: 6px;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 40%;
}
.dropdownMenu {
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  background: linear-gradient(45deg, #131d27, #16222e);
  box-shadow: 5px -5px 10px #080d11, -5px 5px 10px #223345;
  padding-top: 10px;
  right: 10px;
  top: 40px;
  color: white;
}
.dropdownMenu p {
  padding: 5px 10px;
}
.dropdownMenu p span {
  margin-left: 6px;
}
.dropdownMenu p:hover {
  background-color: #374f68;
  cursor: pointer;
}
#search-bar {
  background: var(--trend);
  border-radius: 25px;
  border: none;
  outline: 0;
  padding: 8px;
  width: 80%;
  filter: brightness(1.3);
  color: white;
}
#search-bar:focus {
  border: 1px solid var(--red);
}

.searchicon {
  position: absolute;
  right: 20%;
  z-index: 2;
  margin-top: 10px;
}
.trend {
  border-radius: 22px;
  background: var(--trend);
  width: 80%;
  margin: auto;
  height: 250px;
  color: var(--text-color);
  margin-top: 30px;
}
.follow {
  color: var(--text-color);
  border-radius: 22px;
  background: var(--trend);
  width: 80%;
  margin: auto;
  /* height: 200px; */
  padding: 10px;
  margin-top: 10px;
}
.bottom-menu {
  display: none;
}
.h4-title {
  font-weight: bolder;
  color: var(--text-color);
  border-bottom: 1px solid var(--border);
  padding: 13px;
  font-style: var(--monst);
}
.trend-div {
  border-bottom: 1px solid var(--border);
}
.trend-title {
  color: var(--text-color);
}
.trendlist {
  display: flex;
  padding: 6px;
  margin-bottom: 10px;
  /* border-bottom: 1px solid var(--border); */
}
.left-20 {
  margin-left: 20px;
  display: flex;
  flex-direction: column;

}
.follow-line {
  position: relative;

}

.close {
  position: absolute;
  right: 40px;
  color: var(--red);
  display: none;
}
.followbtn {
  position: absolute;
  right: 4px;
 
}

.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1150px) {
  .nav {
    width: 100px;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    z-index: 2;
  }
  .navbar-nav li:last-child:hover{
    background-color: var(--red);
    filter: brightness(1.3);
  }
  .image {
    max-height: 300px;
    width: 400px;
  }

  .nav i {
    margin-left: 5px;
  }
  .nav span {
    display: none;
  }
  .second {
    margin-left: 0;
  }

  .second-trend {
    display: block;
    width: 40%;
  }
  .second-tweet {
    width: 60%;
  }
  .tweet-header {
    width: 100%;
   
  }

  .tweet-header button {
    display: none;
  }
  .tweet-header h4 {
    position: relative;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 950px) {
  .second-tweet {
    width: 100%;
  }
  .navbar-nav li:hover {
    background-color: transparent !important;
  }
  .navbar-nav li:hover i {
    color: var(--red);
  }

  .link-text:hover {
    color: var(--red);
  }
  .second-trend {
    display: none;
  }
  .image {
    max-height: 290px;
    width: 450px;
  }
  .navbar-nav li:last-child:hover{
    background-color: var(--red);
    filter: brightness(1.3);
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    width: 0;
    z-index: 1;
    top: 0;
    position: fixed;
    margin-left: -100px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    z-index: 2;
  }
  .second-tweet {
    margin-bottom: 70px;
  }
  .add-tweet-input {
    width: 90%;
    margin-left: 10px;
  }
  .link-tweet {
    border-radius: 30px;
    padding: 5px 10px;
    margin-left: 5px;
  }
  .image {
    max-height: 280px;
    width: 350px;
  }
  .nav span {
    display: block;
  }
  .nav li {
    margin-left: 40px;
  }
  .notify-count {
    position: absolute;
    height: 11px;
    width: 11px;
    padding: 9px;
    font-size: small;
    left: 12px;
    top: 0px;
  }

  .navbar-nav li:last-child:hover{
    background-color: var(--red);
    filter: brightness(1.3);
  }
  .second {
    margin-left: 0;
  }
  .sidebar {
    width: 380px;
  }
  .second-trend {
    display: none;
  }
  .close {
    display: block;
  }
  .tweet-header button {
    display: block;
  }
  .tweet-header h4 {
    position: relative;
    margin-left: 50px;
  }
  .navbar-nav li:hover {
    background-color: transparent !important;
    color: var(--red);
  }

  .bottom-menu {
    display: block;
    position: fixed;
    bottom: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--background);
    border-top: 1px solid var(--border);
    transition: 400ms ease;
  }
  .bottom-menu ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .bottom-menu i {
    color: gray;
    font-size: 21px;
    margin-top: 20px;
  }
  .bottom-menu i:hover {
    color: var(--red);
  }
}
@media only screen and (max-width: 450px) {
  .image {
    max-height: 230px;
    width: 300px;
  }
  .heart-parent {
    position: relative;
    transform: scale(0.66);
    margin-top: -11.2%;
    margin-bottom: -35px;
  }
}
@media only screen and (max-width: 400px) {
  .image {
    max-height: 230px;
    width: 240px;
  }
}
.navbar-nav li:last-child:hover{
  background-color: var(--red);
  filter: brightness(1.3);
}
@media only screen and (max-width: 250px) {
  .image {
    max-height: 200px;
    width: 140px;
  }
}
